 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body{
     background-color: rgb(42, 37, 77);
 }

header{
    background: white;
}

header > h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(42, 37, 77) ;
    padding: 20px;
}

.scoreboard{
    border: 3px solid white;
    margin: 20px auto;
    width: 30%;
    position: relative;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    color: white;
}

.badge{
    background-color: rgb(226, 43, 195);
    color: white;
    padding: 2px;
    font-size: medium;
}

#user-label{
    position: absolute;
    top: 38px;
    left: -20px;
}

#computer-label{
    position: absolute;
    top: 38px;
    right: -20px;
}

.result{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.choices{
    text-align: center;
    margin-top: 20px;
}

.choice{
    display: inline-block;
    border: 7px solid white;
    border-radius: 50%;
    transition: all .4s ease;
    margin:auto 20px;
}

.choice:hover{
    cursor: pointer;
    background-color: rgb(31, 12, 49);
}

#action{
    text-align: center;
    margin-top: 20px;
}

p#action{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.red-glow{
    border:7px solid red;
    box-shadow: red;
}

.grey-glow{
    border:7px solid yellow;
    box-shadow: yellow;
}

.green-glow{
    border:7px solid green;
    box-shadow: green;
}
